%div{id: "answer_#{answer.id}"}
  %br/
  %strong
    = answer.user.name
    = "added #{time_ago_in_words answer.created_at} ago"
  %br
  = answer.body
  %p
    %strong Attachments:
  - answer.attachments.each do |a|
    %div{id: "attachment_#{a.id}"}
      = link_to a.file.identifier, a.file.url
      - if user_signed_in? && current_user.author?(answer)
        = link_to 'delete', a, method: :delete, remote: true
        %br
  .col-md-offset-10.col-md-3
    - if user_signed_in? && current_user.author?(@question)
      = best_btn(@question, answer)
    - if user_signed_in? && current_user.author?(answer)
      = link_to 'Edit', '', class: "btn btn-warning btn-xs edit-answer-link", data: { answer_id: answer.id }
      = link_to 'Delete', [@question, answer], method: :delete, remote: true, :class => "btn btn-danger btn-xs"

  = simple_form_for([@question, answer], remote: true, html: { id: "edit-answer-#{answer.id}" }) do |f|
    .answer_errors
    = f.input :body, label: false, placeholder: 'Your answer'
    = f.submit "Edit", class: "btn btn-primary btn-sm"
