- if user_signed_in?
  .col-md-offset-7.col-md-6
    = link_to "My profile", "#", :class => "btn btn-success btn-sm"
    = link_to "Questions", "#", :class => "btn btn-success btn-sm"
    = link_to "Tags", "#", :class => "btn btn-success btn-sm"
    = link_to "Users", "#", :class => "btn btn-success btn-sm"
    = link_to "Ask question", new_question_path, :class => "btn btn-success btn-sm", "data-target": "#new_modal", "data-toggle": "modal"
    #new_modal.modal.fade
      .modal-dialog
        .modal-content
