.modal-header
  = button_to '#', data: { dismiss: 'modal' }, class: 'close' do
    = content_tag :span, 'x'
  %h4.modal-title
    = "#{@question.new_record? ? 'Ask question' : 'Edit question'}"
.modal-body
  = simple_form_for(@question) do |f|
    = bootstrap_devise_error_messages!(@question)
    .form-group
      = f.input :title, label: false, placeholder: 'Title', input_html: { value: "#{@question.new_record? ? '' : @question.title}" }, hint: 'Can\'t be empty'
      = f.input :body, label: false, placeholder: 'Your question', input_html: { value: "#{@question.new_record? ? '' : @question.body}" }, hint: 'Can\'t be empty'
      = f.simple_fields_for :attachments do |a|
        = a.file_field :file
      .modal-footer
        = button_to 'Cancel', '#', class: 'btn btn-default btn-sm', data: { dismiss: 'modal' }
        = f.submit  "#{@question.new_record? ? 'Save' : 'Edit'}", class: "btn btn-primary btn-sm"
