.container
  .row
    .col-md-offset-1.col-md-10.col-md-offset-1
      %ul
        - @questions.each do |question|
          %h3= link_to "#{question.title}", question
          %br/
          = question.body
          %br/
          .col-md-offset-10.col-md-2
            - if user_signed_in? && current_user == question.user
              %strong
                = link_to 'Edit', edit_question_path(question)
                |
                = link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }
          %hr/
