.container
  .row
    .col-md-offset-7.col-md-6
      = link_to "My profile", "#", :class => "btn btn-success btn-sm"
      = link_to "Questions", "#", :class => "btn btn-success btn-sm"
      = link_to "Tags", "#", :class => "btn btn-success btn-sm"
      = link_to "Users", "#", :class => "btn btn-success btn-sm"
      = link_to "Ask question", "#new_modal", :class => "btn btn-success btn-sm", "data-toggle" => "modal"
      = render 'new'
    .col-md-offset-1.col-md-10.col-md-offset-1
      %ul
        - @questions.each do |question|
          %h3= link_to "#{question.title}", question
          %br/
          = question.body
          %br/
          .col-md-offset-10.col-md-2
            - if user_signed_in? && current_user == question.user
              %strong
                = link_to 'Edit', "#del_poll_modal", "data-toggle" => "modal"
                = render 'new'
                |
                = link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }
          %hr/
