.container
  .row
    .col-md-offset-1.col-md-10.col-md-offset-1
      %ul
        %h3
          = @question.user.name
          %p= @question.title
        = @question.body
        .col-md-offset-10.col-md-2
          - if user_signed_in? && current_user.author?(@question)
            %strong
              = link_to 'Edit', edit_question_path(@question)
              |
              = link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }
        %hr/

        - if @question.answers.present?
          %h3
            = "#{@question.answers.count} Answers"
          - @question.answers.each do |answer|
            %br/
            %strong= answer.user.name
            %br
            = answer.body
            .col-md-offset-10.col-md-2
              - if user_signed_in? && current_user.author?(answer)
                = link_to 'Edit', edit_question_answer_path(@question, answer)
                |
                = link_to 'Delete', [@question, answer], method: :delete, data: { confirm: 'Are you sure?' }
            %hr/

        - if user_signed_in?
          = simple_form_for([@question, @answer], remote: true, html: { role: "form" }) do |f|
            = render 'common/errors', resource: @answer
            .form-group
              = f.input :body, label: false, placeholder: 'Your answer'
            = f.submit "Save", class: "btn btn-primary btn-sm"
