.container
  .row
    .col-md-offset-1.col-md-10.col-md-offset-1
      %ul
        %strong= @question.user.name
        %br/
        %strong= @question.title
        %br/
        %br/
        = @question.body
        %br/
        %br/
        .col-md-offset-10.col-md-2
          = link_to 'Edit', edit_question_path(@question)
          |
          = link_to 'Delete', @question, method: :delete, data: { confirm: 'Are you sure?' }
        %hr/

        - if @question.answers.present?
          %strong
            = "#{@question.answers.count} Answers"
            %br/
          - @question.answers.each do |answer|
            %br/
            %strong= answer.user.name
            %br/
            = answer.body
            %br/
            .col-md-offset-10.col-md-2
              = link_to 'Edit', '#'
              |
              = link_to 'Delete', '#', method: :delete, data: { confirm: 'Are you sure?' }
            %hr/

        = simple_form_for([@question, @answer], remote: true, html: { role: "form" }) do |f|
          = render 'common/errors', resource: @answer
          .form-group
            = f.input :body, label: false, placeholder: 'Your answer'
          = f.submit "Save", class: "btn btn-primary"
