.container
  .row
    = render 'buttons'
    .col-md-offset-1.col-md-10.col-md-offset-1
      %div
        %h3
          = @question.user.name
          %p= @question.title
        = @question.body
        %p
          %strong Attachments:
        %ul
          - @question.attachments.each do |a|
            %li= link_to a.file.identifier, a.file.url

        = render 'links', question: @question

        - if @question.answers.present?
          %h3
            = "#{@question.answers.count} Answers"
        .answers
          = render 'questions/answers'

        - if user_signed_in?
          .new_answer_form
            = simple_form_for([@question, @answer], remote: true, html: { role: "form" }) do |f|
              .answer_errors
              = f.input :body, label: false, placeholder: 'Your answer'
              = f.submit "Save", class: "btn btn-primary btn-sm"
