.container
  .row
    = render 'buttons'
    = render 'common/rating_question', resource: @question
    .col-md-11
      %div
        %h3
          = @question.user.name
          %p= @question.title
        = @question.body
        %p
          %strong Attachments:
        - @question.attachments.each do |a|
          %div{id: "attachment_#{a.id}"}
            = link_to a.file.identifier, a.file.url
            - if user_signed_in? && current_user.author?(@question)
              = link_to 'delete', a, method: :delete, remote: true
              %br

        = render 'links', question: @question

        - if @question.answers.present?
          %h3
            = "#{@question.answers.count} Answers"
        .answers
          = render 'questions/answers'

        - if user_signed_in?
          .new_answer_form
            = simple_form_for([@question, @answer], remote: true) do |f|
              .answer_errors
              = f.input :body, label: false, placeholder: 'Your answer'
              = f.simple_fields_for :attachments do |a|
                = render 'attachment_fields', f: a
              .links
                = link_to_add_association 'Attach file', f, :attachments
              = f.submit "Save", class: "btn btn-primary btn-sm"
