.container
  .row
    = render 'buttons'
    .col-md-offset-1.col-md-10.col-md-offset-1
      %ul
        %h3
          = @question.user.name
          %p= @question.title
        = @question.body
        = render 'links', question: @question

        - if @question.answers.present?
          %h3
            = "#{@question.answers.count} Answers"
          .answers
            - @question.answers.each do |answer|
              %div{id: "answer_#{answer.id}"}
                = render 'answers', answer: answer

        - if user_signed_in?
          = simple_form_for([@question, @answer], remote: true, html: { role: "form" }) do |f|
            .answer_errors
            = f.input :body, label: false, placeholder: 'Your answer'
            = f.submit "Save", class: "btn btn-primary btn-sm"
