!!!
%html
  %head
    %title SOF
    = Gon::Base.render_data
    = stylesheet_link_tag    'application', media: 'all'
    = action_cable_meta_tag
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{ 'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'SOF', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse#navbar
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li.nav-item
                -#= link_to "#{current_user.email}, ask question", new_question_path, class: 'nav-link'
          %ul.nav.navbar-nav.pull-right
            %li.nav-item
              - if user_signed_in?
                = link_to "Log out", destroy_user_session_path, class: 'nav-link', method: :delete
              - else
                %li
                  = link_to "Search", search_path, class: 'nav-link'
                %li
                  = link_to "Sign in", new_user_session_path, class: 'nav-link'
    = render 'layouts/messages'
    = yield
    .footer
      .container
        .row
          .col-md-12
            %hr/
        .row
          .col-md-12
            %p
              © 2017 Gabriel V. Pedro
              = link_to "Github", "https://github.com/pedrogabriel69/sof"
              |
              = link_to "LinkedIn", "https://www.linkedin.com/in/gabriel-pedro-597190125?trk=nav_responsive_tab_profile"
              |
              = link_to "Facebook", "https://www.facebook.com/gabriel.pedro.3517"
